/* Sidebar */
.brand button {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color:#ffffff;
    cursor: pointer;
  }
  .sidebar{
    position: absolute;
    transition: all .5s;
    transform: translateY(-30rem);
    width: 100%;
    background-color: #f0f0f0;
    height: 30rem;
    z-index: 1;
  }

  .sidebar-details {
    margin: 0 5rem 0 5rem;
  }

  .sidebar-list {
    display: flex;
  }
  
  .sidebar-list li{
    list-style-type: none;
    margin: 0 5rem 0 5rem;
  }

  .sidebar.open{
    transform: translateY(5rem);
  }
  
  .sidebar-close-button{
    border-radius: 50%;
    border: .1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem
  }